:host {
  display: block;
  padding: 20px;
}

.newFile {
  background: url("new-ron-file.png") no-repeat center center;
  background-size: 100%;
  height: 0;
  display: inline-block;
  width: 400px;
  max-width: 100%;
  padding-bottom: 20.8%
}


