@import "vars";

:host {
  text-align: center;
}

h2 {
  margin: 0;
}
$featurePadding: 10px;
$wrapperPadding: 15px;

.wrapper {
  max-width: 930px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: $wrapperPadding;
  text-align: left;
}

.feature {
  flex-basis: 50%;
  flex-grow: 1;
  width: 50%;
  min-width: 300px;
  padding: $featurePadding;
  box-sizing: border-box;
  &.large {
    flex-basis: 100%;
  }
}

.keybindings {
  margin: -10px $featurePadding 20px;
}

.img {
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 300px;
}

// TODO: Remove these images and use an image tag when this is fixed: https://github.com/angular/angular-cli/issues/6666
.parameter-hint {
  background-image: url("img/parameter-hint.png");
  padding-bottom: 26.27%;
}


.type-hint {
  background-image: url("img/type-hint.png");
  padding-bottom: 37.87%;
}

.vx-button {
  margin: 10px;
}

h1 {
  flex-basis: 100%;
  padding-left: $featurePadding;
}


video {
  max-width: 100%;
  width: 900px;
}



@media screen  and (max-width: 768px) /* Tablet */ {
  video {
    margin-left: -($featurePadding + $wrapperPadding);
    max-width: calc(100% + #{($featurePadding + $wrapperPadding) * 2});
  }
}

@media screen  and (max-width: 500px) /* Mobile */ {
  video {
    max-width: calc(100% + 150px);
  }
}
