<h1>RON IntelliJ Plugin License Agreement</h1>
<p class="version">Version 1.0, effective as of June 12th, 2019</p>

<p>This Agreement is a legal agreement between You and Vultix.</p>
<p>Please read this Agreement carefully before completing the installation process and using the IntelliJ RON Plugin. It provides a license to use the IntelliJ RON Plugin and contains warranty information and liability disclaimers.</p>
<p>If You register for a free trial of the IntelliJ RON Plugin, this EULA agreement will also govern that trial. By clicking "accept" (or similar) or installing and/or using the IntelliJ RON Plugin software, You are confirming Your acceptance of the Software and agreeing to become bound by the terms of this Agreement.</p>
<p>If You are entering into this Agreement on behalf of a company or other legal entity, You represent that You have the authority to bind such entity and its affiliates to these terms and conditions. If You do not have such authority or if You do not agree with the terms and conditions of this Agreement, do not install or use the Software, and You must not accept this EULA agreement.</p>
<p>By agreeing to be bound by this Agreement, you further agree You will comply with the provisions of this Agreement.</p>


<h2>1. Parties</h2>

<p>1.1. "Vultix" means Vultix, having its principal place of business at 798 w 2410 n, Pleasant Grove, Utah, registered as a business in Utah, U.S.A. </p>
<p>1.2. "Customer" or "You" means the physical person or legal entity accepting this Agreement. For legal entities, "Customer" includes any entity which controls, is controlled by, or is under common control with Customer. For the purposes of this definition, "control" means (i) the power, directly or indirectly, to direct or manage such entity, whether by contract or otherwise, or (ii) ownership of fifty percent (50%) or more of the outstanding shares or beneficial ownership of such entity.</p>
<p>1.3 "JetBrains" means JetBrains s.r.o., having its principal place of business at Na hřebenech II 1718/10, Prague, 14000, Czech Republic, registered in the Commercial Register maintained by the Municipal Court of Prague, Section C, File 86211, ID. No.: 265 02 275.</p>


<h2>2. Definitions</h2>

<p>2.1. "Agreement" means this RON IntelliJ Plugin Agreement.</p>
<p>2.2. "JetBrains Products and Services" means any generally available JetBrains software product identified by JetBrains as an individual developer tool, teamware tool, or online service.</p>
<p>2.3. "Plugin" means any plugin, extension, or other software designed to work with the JetBrains Products and Services.</p>
<p>2.4."JetBrains Plugin Marketplace Service" means any platform at which JetBrains markets the Plugins, including the website https://plugins.jetbrains.com or any other website or other platform, whether named as JetBrains Plugin Marketplace Service, JetBrains Repository or otherwise.</p>
<p>2.5. "RON Plugin" or "RON IntelliJ Plugin" or "IntelliJ-RON Plugin" means the Plugin created by Vultix designed to provide RON language support for supported JetBrains Products and Services.</p>
<p>2.5. "Source Code" means the RON Plugin code in human-readable form or any part of the RON Plugin code in human-readable form, including code compiled to create the RON Plugin or decompiled from the RON Plugin, but excluding interpreted code comprised in the RON Plugin.</p>

<h2>3. General</h2>

<p>This Agreement governs the terms of use of the the RON IntelliJ Plugin made available to You via the JetBrains Plugin Marketplace Service. This Agreement is entered into between You and Vultix. Vultix does not and will not have any responsibility or liability related to Your use of the Plugin.</p>
<p>You must ensure that the maximum number of users that are able to access and use the RON IntelliJ Plugin concurrently ("Plugin Users") does not exceed the number of Plugin Users for which You have ordered the Plugin and paid the price.</p>
<p>You may not modify, reverse engineer, decompile or disassemble the RON IntelliJ Plugin in whole or in part, or create any derivative works from or sublicense any rights in the Plugin, unless otherwise expressly authorized in writing by Vultix.</p>
<p>The RON IntelliJ Plugin is protected by copyright and other intellectual property laws and treaties. Vultix own all title, copyright and other intellectual property rights for the RON IntelliJ Plugin.</p>
<p>THE RON INTELLIJ PLUGIN IS PROVIDED TO YOU ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT WARRANTIES. USE OF THE PLUGIN IS AT YOUR OWN RISK. VULTIX MAKES NO WARRANTY AS TO ITS USE OR PERFORMANCE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, VULTIX DISCLAIMS ALL OTHER WARRANTIES AND CONDITIONS, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT, WITH REGARD TO THE RON INTELLIJ PLUGIN, AND THE PROVISION OF OR FAILURE TO PROVIDE SUPPORT SERVICES. VULTIX DOES NOT WARRANT THAT THE RON INTELLIJ PLUGIN IS ACCURATE, RELIABLE OR CORRECT; THAT THE RON INTELLIJ PLUGIN WILL MEET YOUR REQUIREMENTS; THAT THE RON INTELLIJ PLUGIN WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, UNINTERRUPTED OR SECURE; THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE RON INTELLIJ PLUGIN IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</p>
<p>IN NO EVENT WILL VULTIX BE LIABLE FOR ANY DIRECT OR INDIRECT COSTS, LOSSES OR DAMAGES ASSOCIATED WITH THE USE OF THE RON INTELLIJ PLUGIN.</p>
<p>VULTIX SHALL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS OR CONSEQUENTIAL DAMAGES, HOWEVER CAUSED AND, IN NO EVENT WILL VULTIX AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THIS AGREEMENT OR THE USE OF THE RON INTELLIJ PLUGIN.</p>

<h2>4. License</h2>

<p>4.1. You may use the RON IntelliJ Plugin as long as You comply with the terms of this Agreement.</p>
<p>4.2. Without written Vultix permission You may not:</p>
<p class="indented">4.2.1. remove any copyright or other proprietary notices displayed or contained in the RON IntelliJ Plugin;</p>
<p class="indented">4.2.2. modify, reverse engineer, decompile, disassemble or alter the RON IntelliJ Plugin in whole or in part;</p>
<p class="indented">4.2.3. copy, distribute, sell, lease, rent, or provide the RON IntelliJ Plugin or its parts to others.</p>
<p class="indented">4.2.4. use the RON IntelliJ Plugin in any way which breaches any applicable local, national or international law.</p>
<p class="indented">4.2.5. use the RON IntelliJ Plugin in any way which Vultix considers is a breach of this Agreement.</p>
<p>4.3. Vultix reserves the right to revoke authorization to use, access, view, download, and print the RON IntelliJ Plugin content at any time, and You shall discontinue such use immediately upon notice from Vultix.</p>
<p>4.4. The rights granted to You for use of the RON IntelliJ Plugin constitute a grant of rights and not a transfer of title.</p>

<h2>5. Source Code</h2>
<p>Nothing in this Agreement shall give You or any other person any right to access or use the Source Code or constitute any licence of the Source Code.</p>

<h2>6. Intellectual Property Rights and Ownership</h2>
<p>Nothing in this Agreement shall operate to assign or transfer any Intellectual Property Rights from Vultix to You, or from the You to the Vultix.</p>
<p>Vultix shall at all times retain ownership of the IntelliJ RON Plugin as originally downloaded by You and all subsequent downloads of the Software by You. The IntelliJ RON Plugin (and the copyright, and other intellectual property rights of whatever nature in the Software, including any modifications made thereto) are and shall remain the property of Vultix.</p>
<p>Vultix reserves the right to grant licences to use the Software to third parties.</p>

<h2>7. Term and Termination</h2>
<p>This Agreement is effective from the date You first use the IntelliJ RON Plugin and shall continue until terminated. You may terminate it at any time upon written notice to Vultix.</p>
<p>It will also terminate immediately if You fail to comply with any term of this Agreement. Upon such termination, the licenses granted by this Agreement will immediately terminate and You agree to stop all access and use of the Software. The provisions that by their nature continue and survive will survive any termination of this Agreement.</p>

<h2>8. Governing Law</h2>
<p>This Agreement, and any dispute arising out of or in connection with this Agreement, shall be governed by and construed in accordance with the laws of Utah, U.S.A.</p>
