<div class="beamWrapper">
  <h1 class="app-title">Intellij-RON</h1>
  <h1 class="app-title second">(Rusty Object Notation)</h1>

  <!--TODO: Get the Plugin-->
  <button vx-button="flat" color="dark" class="download">Coming Soon!</button>
  <a href="https://github.com/vultix/intellij-ron-plugin" vx-button="stroked" color="dark" class="mTop15">
    <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
    Report an Issue
  </a>
</div>

<div class="videoWrapper">
  <video autoplay loop muted="true" playsinline #video>
    <source src="/intellij-ron-plugin/assets/driver-video.mp4" type="video/mp4">
  </video>
</div>
